<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
    <script src="/static/js/main.js"></script>
    <title>{{title}}</title>

    <script>

{% if up %}
            reloader = setTimeout(reload, 5000);
    function reload(){
         window.location.reload();
    //      window.location.replace(url);  -  редирект на любую другую страницу
    };

    $('body').on('action','element',function(){
          clearTimeout(reloader);  // очищаем таймаут и тем самым начинаем отсчет 5 секунд
    });  {% endif %}
function process(index) {
    $.post("/process_data/", {'index': index}, function (data, status) {

    });
}
    </script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../readme">Умная теплица</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="../table/0">Таблица</a>
                        <a class="nav-link" href="../grafik">Графики</a>
                        <a class="nav-link" href="../dashboard">Управление</a>
                        <a class="nav-link" href="../send_param">Настройка</a>
                </div>
            </div>
            </div>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
            {% else %}
            <p>
                 <a class="btn btn-success" href="/login">Вход</a>
            </p>
            {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
{% if current_user.is_authenticated %}
<div class="dashboard"><h3>Управление устройствами</h3>
    <p align="center" class="buttons">

        {% for name in text_button %}

                {{text_button[name]}} - <button class="btn {{name}} btn-secondary">{{status[name]}}</button>

        {% endfor %}

        {% if status.sending == 0 %}
                <button class="btn btn-outline-danger">Ждем соединения</button>
        {% else %}
                <button class="btn btn-outline-success">Отправлено {{ status.date_down}}</button>
        {% endif %}
    </p>

    {% endif %}
</div>
    {% block content %}{% endblock %}
</main>
</body>
</html>
