{% extends "base.html" %}

{% block content %}

<div class="box">

    <div class="box-text-head">
        Привет
        <div>
            <svg viewBox="-50 -50 100 100">
                <circle r="45" cx="0" cy="0" stroke="var(--color-black-04)"
                        stroke-linecap="round" stroke-width="10"
                        style="stroke: var(--color-black-04); stroke-dasharray: 188.496px, 282.743; stroke-dashoffset: 0; transform: rotate(150deg); transform-origin: 0px 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s ease 0s, stroke-width 0.06s ease 0.3s, opacity 0.3s ease 0s; fill-opacity: 0;">
                </circle>
            </svg>
        </div>
    </div>

</div>


{% endblock %}