{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h1>Инструкция</h1>
<h3>Отправка данных на сервер</h3>
<p>Для отправки данных в таблицу нужно сделлать GET запрос на сервер с передачей параметров.</p>
<p>Пример запроса через строку.</p>
<code>https://nikitinan.pythonanywhere.com/add_sensors?token=уникальный_токен&t_in=22&h_in=77&t_out=22&h_out=77&mois1=555&mois2=555&light=888&pump=0&heat=0&led=1&fan=0</code>
<p>Расшифровка параметров</p>
<ul>
    <li>token - уникальный токен для пользоваттеля</li>
    <li>t_in - температура внутри теплицы (0-50)</li>
    <li>h_in - влажность воздуха внутри теплицы (0-100)</li>
    <li>t_out - температура снаружи теплицы (0-50)</li>
    <li>h_out - влажность воздуха снаружи теплицы (0-100)</li>
    <li>mois1 - влажность почвы первого датчика теплицы (0-1023)</li>
    <li>mois2 - влажность почвы второго датчика теплицы (0-1023)</li>
    <li>light - освещеность снаружи теплицы (0-1023)</li>
    <li>pump - индикатор работы водяного насоса</li>
    <li>heat - индикатор работы подогрева теплицы</li>
    <li>led - индикатор работы подсветки теплицы</li>
    <li>fan - индикатор работы охлаждения теплицы</li>
</ul>
<p>Сервер возвращает "OK" в случае успешного запроса и "NO" в других случаях</p>
<h3>Получение данных о настройках теплицей</h3>
<p>Для получения настроек для теплицы нужно сделлать GET запрос на сервер с передачей токена.</p>
<p>Пример запроса через строку.</p>
<code>https://nikitinan.pythonanywhere.com/update/token</code>

<p>Расшифровка параметров</p>
<ul>
    <li>token - уникальный токен для пользоваттеля</li>
</ul>

{% endblock %}
